#box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    text-align: left;
    color: gray;
   
}
#image{
    width: 100%;
}
#top-text{
    width: 43%;
    margin: auto;
    color: gray;
}
#desc_price{
    display: flex;
    justify-content: space-between;
}